
        body {
            top:0px;
            left:0px;
            background-color: #1a1a2e;
            color: #f5f5f5;
            font-family: 'Press Start 2P', Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 100vh;
            overflow-x: hidden;
        }
        
        h1 {
            color: #00ffcc;
            text-align: center;
            font-size: 2.5rem;
            margin: 30px 0;
        }

        .items {
            width: 90%;
            max-width: 89%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 40px;
        }

        .item {
            background-color: #16213e;
            border: 3px solid #00ffcc;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0px 0px 15px rgba(0, 255, 204, 0.5);
            transition: transform 0.2s, box-shadow 0.2s;
            width: 30%; 
            min-width: 90%; 
            max-width: 90%; 
            display: flex;
            flex-direction: row;
            align-items: center;
            gap:40px;
        }
        
        .item:hover {
            transform: translateY(-5px);
            box-shadow: 0px 0px 20px rgba(0, 255, 204, 0.8);
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            color: #ffcc00;
            text-align: center;
            flex: 1 1 15%;
            min-width: 150px;
        }
        
        ul li {
            margin: 5px 0;
        }
        
        img {
            height: auto;
            flex: 1 1 75%;
            max-width: 16vw;
            border-radius: 15px;
            border: 2px solid #ff006e;
            transition: transform 0.2s, border-color 0.2s;
        }
        .viewPCImage{
            transform: scale(1.6); /* Effet de scale au survol */
        }

        img:hover {
            transform: scale(1.05);
            border-color: #00ffcc;
        }
        .viewPCImage:hover{
            transform: scale(1.65); /* Effet de scale au survol */
        }
        .viewMobileImage {
            transform: scale(0.8); /* Effet de scale au survol */
        }
        .viewMobileImage:hover {
            transform: scale(0.83); /* Effet de scale au survol */
        }
        .descriptionItems{
            text-align: center;
            text-align: justify;
            max-width: 50%;
            font-size: 1.2rem;
            margin-top: 2%;
            margin-bottom: 1.5%;
        }

        .itemTitle {
            text-align: center;
            color: #f5f5f5;
            font-size: 1.5rem;
            margin-bottom: 5px;
            margin-top: 5%;
            font-family: 'Press Start 2P', Arial, sans-serif;
            text-shadow: 1px 1px 0 #ff006e, -1px -1px 0 #ff006e;
        }

        /* Responsivité */
        @media (max-width: 768px) {
            .item {
                flex-direction: column;
                align-items: center;
            }
            img, ul {
                flex-basis: 100%;
                transform: none;
                max-width: 90%;
                
            }
            .viewPCImage {
                transform: scale(1.1); /* Effet de scale au survol */
            }
            .viewMobileImage {
                transform: scale(0.8); /* Effet de scale au survol */
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .descriptionItems{
                text-align: center;
                text-align: justify;
                max-width: 70%;
                font-size:1.1rem;
                margin-top: 2%;
                margin-bottom: 8%;
                hyphens: auto;
                word-wrap: break-word;
                line-height: 1.3;
            }
            .itemTitle {
                text-align: center;
                color: #f5f5f5;
                font-size: 1.5rem;
                margin-bottom: 15px;
                margin-top: 12%;
                margin-left: 5%;
                margin-right: 5%;
                font-family: 'Press Start 2P', Arial, sans-serif;
                text-shadow: 1px 1px 0 #ff006e, -1px -1px 0 #ff006e;
            }
        }

        .imageAndroidMax{
            width: auto;
        }

        .footer {
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
            font-size: 16px;
            color: #999;
        }